body{
    margin: 0;
    background-color: rgb(32, 83, 117);
    font-family: sans-serif;
    
}
h1{
    margin: 0;
    margin-bottom: 15px;
    color: #ababab;
}
.todoapp_container{
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.input_section{
    background-color: #ececec;
    padding: 18px;
    border-radius: 12px;
}
.input_section input{
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #dddddd;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
ul{
   text-align: left;
   padding: 0;
   
    
}
ul li{
    list-style: none;
    background-color: rgb(224, 224, 224);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: rgb(32, 83, 117);
   
}
input::placeholder{
    color: rgb(32, 83, 117);
}